.cart-container{
    background-color: rgba(5, 255, 138, 0.267);
    margin-top: 110px;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    width: 400px;

}
.cart-container h1{
    text-align: center;
    font-weight: 600;
    color: indigo;
    margin-bottom: 20px;
}
#logo{
    margin-left: 150px;
}
.kkr{
    font-weight: 700;
    
}
.colorHigh{
    color: red;
}