.card-container{
    text-align: center;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    box-shadow: 3px 3px 10px gray;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.055);

}
.addBtn{
    width: 150px;
    font-weight: 500;
    background-color: goldenrod;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}
