.card-container{
    text-align: center;
    padding: 10px;    
    margin: 100px;
    box-shadow: 3px 3px 10px gray;
    border-radius: 10px;
    background-color: rgba(197, 21, 21, 0.171);

}
.addBtn{
    width: 150px;
    font-weight: 500;
    background-color: goldenrod;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}
